/* body, html {
  width: 100%;
} */

p {
  font-size: 1.14em;
}

.ui.container {
  padding: 3%;
}


.secondary-menu {
  display: flex; 
  justify-content: space-between;
}

.ui.secondary.menu {
  border-bottom: 0px !important;
  font-size: 18px;
}

.ui.secondary.menu .active.item {
  font-weight: bold;
  background: none !important;
}

a:hover {
  background: none !important;
}

.main-menu {
  background-color:#609aa5 !important;
}



.center {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: auto;
}
